.footer {
  background-color: black;
  height: 209px;
  padding: 66px 0 29px 0;
  display: flex;
  justify-content: center;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    p {
      color: $color-secondary;
      font-size: 1.5rem;
    }
  }
}
@media (max-width: $bp-sm) {
  .footer {
    padding: 62px 10px;
    &__content {
      p {
        font-size: 0.75rem;
      }
    }
  }
}
