.footer {
  background-color: $bg-color-footer;
  height: 209px;
  padding: 4.12rem 0 1.81rem 0;
  &__content {
    @include flex-column(space-between, center);
    height: 100%;
    p {
      color: $color-secondary;
      font-size: $fs-lg;
    }
  }
}
@media (max-width: $bp-sm) {
  .footer {
    padding: 3.87rem 0.62rem;
    &__content {
      p {
        font-size: $fs-sm;
      }
    }
  }
}
