.header {
  display: flex;
  justify-content: center;
  &__content {
    max-width: $max-width;
    width: 100%;
    margin: 2.5rem;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: 500;
    &--active {
      border-bottom: 2px solid;
    }
    ul {
      display: flex;
      li {
        margin-left: 55px;
      }
    }
  }
}

@media (max-width: $bp-sm) {
  .header__content {
    margin: 20px;
    height: 47px;
    img {
      width: 145px;
    }
    ul {
      font-size: 0.75rem;
      text-transform: uppercase;
      li {
        margin-left: 10px;
        white-space: nowrap;
      }
    }
  }
}
