.header {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__nav {
    color: $color-primary;
    &--active {
      border-bottom: 2px solid;
    }
    ul {
      display: flex;
      li {
        margin-left: 55px;
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: $bp-sm) {
  .header {
    height: 47px;
    img {
      width: 145px;
    }
    ul {
      text-transform: uppercase;
      li {
        margin-left: 10px;
        white-space: nowrap;
        font-size: 0.75rem;
      }
    }
  }
}
