.banner {
  margin-top: 2.75rem;
  height: 223px;
  border-radius: $border-radius-l;
  @include flex-center(center, center);
  &__img {
    position: relative;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    filter: brightness(70%);
  }
  h1 {
    position: absolute;
    padding: 0 6.87rem;
    color: $color-secondary;
    animation: appear 0.5s 0.1s both;
  }
  &__home {
    margin-top: 3.93rem;
  }
}

@media (max-width: $bp-sm) {
  .banner {
    margin-top: 1rem;
    border-radius: $border-radius-m;
    justify-content: flex-start;
    h1 {
      margin: 0 2rem 0 1rem;
      padding: 0;
      span {
        display: block;
      }
    }
    &__home {
      height: 111px;
    }
  }
}
