.gallery {
  background-color: $color-tertiary;
  border-radius: $border-radius-l;
  margin: 2.7rem 0;
  padding: 3.5rem 3.12rem;
  @include flex-center(center);
  flex-wrap: wrap;
  gap: 3.12rem;
  @media (max-width: $bp-sm) {
    flex-direction: column;
    margin-top: 1.4rem;
    padding: 0;
    background-color: $color-secondary;
    gap: 1.25rem;
  }
}
