.card {
  position: relative;
  @include flex-column(flex-end);
  width: 340px;
  height: 340px;
  border-radius: $border-radius-m;
  font-size: $fs-m;
  background-color: $color-primary;
  overflow: hidden;
  transition: transform 0.3s ease;
  animation: appear 0.9s 0.1s both;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  &:hover &__img {
    opacity: 0.8;
  }
  &:hover {
    transform: scale(1.05);
  }
  &__img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    transition: opacity 0.1s ease;
  }
  &__title {
    position: absolute;
    margin: 1.25rem;
    line-height: $line-height;
    z-index: 1;
    color: $color-secondary;
  }
}

@media (max-width: $bp-sm) {
  .card {
    width: 100%;
    height: 255px;
    &:hover {
      transform: scale(1.02);
    }
    &__title {
      margin-bottom: 0.9rem;
    }
  }
}
