.collapse {
  width: 100%;
  &__header {
    margin-top: 31px;
    padding: 0 1.25rem;
    border: none;
    width: 100%;
    border-radius: inherit;
    background-color: $color-primary;
    color: $color-secondary;
    font-size: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__arrowIcon {
    transition: transform 0.2s ease-in-out;
  }
  &__content {
    background-color: #f6f6f6;
    color: $color-primary;
    line-height: 142.6%;
    border-radius: inherit;
    font-weight: 400;
    max-height: 0;
    transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out;
    overflow: hidden;
    padding: 0 27px 0 18px;
    margin-top: -10px;
    position: relative;
    z-index: -10;
    &--open {
      max-height: 1000px;
      padding: 40px 27px 21px 18px;
      transition: max-height 0.2s ease-in-out, padding 0.2s ease-out;
    }
  }
}

.rotate {
  transform: rotate(-180deg);
}

@media (max-width: $bp-sm) {
  .collapse {
    border-radius: 5px;
    &__header {
      max-height: 30px;
      margin-top: 20px;
      padding: 0 10px 0 12px;
      font-size: 13px;
      width: 100%;
      border-radius: 5px;
      height: 47px;
    }
    &__arrowIcon {
      width: 18px;
    }
    &__content {
      padding: 0 6px 0 11px;
      font-size: 12px;
      &--open {
        padding: 23px 6px 52px 11px;
      }
    }
  }
}
