.host {
  margin-left: 1.87rem;
  &__infos {
    @include flex-center(flex-end, center);
    margin-bottom: 1.6rem;
  }
  &__name {
    @include flex-column(center, flex-end);
    margin-right: 0.6rem;
    span {
      font-size: $fs-m;
      line-height: $line-height;
    }
  }
  &__picture {
    width: 4rem;
    border-radius: $border-radius-xl;
  }
}

@media (max-width: $bp-sm) {
  .host {
    @include flex-center(space-between);
    flex-direction: row-reverse;
    margin: 0;
    &__infos {
      margin-bottom: 0;
    }
    &__name {
      span {
        font-size: $fs-sm;
      }
    }
    &__picture {
      width: 2rem;
    }
  }
}
