.slideshow {
  position: relative;
  height: 25.9rem;
  margin-top: 1.25rem;
  margin-bottom: 1.87rem;
  border-radius: $border-radius-l;
  @include flex-center(center);
  overflow: hidden;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    transition: opacity 1.5s ease;
    opacity: 0;
  }
  .active {
    opacity: 1;
  }
  &__arrow {
    width: 5rem;
    height: 2.93rem;
    position: absolute;
    cursor: pointer;
    &--previous {
      transform: rotate(90deg);
      left: 1.43rem;
    }
    &--next {
      transform: rotate(-90deg);
      right: 1.43rem;
    }
  }
  &__counter {
    position: absolute;
    right: 50%;
    bottom: 1.56rem;
    font-size: $fs-m;
    color: $color-secondary;
  }
}

@media (max-width: $bp-sm) {
  .slideshow {
    height: 15.9rem;
    margin-top: 1.68rem;
    margin-bottom: 0.9rem;
    &__arrow {
      width: 1.25rem;
      height: 0.75rem;
      top: 7.37rem;
      &--previous {
        left: 0.37rem;
      }
      &--next {
        right: 0.37rem;
      }
    }
    &__counter {
      display: none;
    }
  }
}
