.starRating {
  @include flex-center(flex-end, center);
  gap: 0.93rem;
  .star--filled {
    fill: $color-primary;
  }
  .star--empty {
    fill: $color-star-empty;
  }
}

@media (max-width: $bp-sm) {
  .starRating {
    gap: 0.43rem;
    .star {
      width: 15px;
      height: 15px;
    }
  }
}
