.housing {
  @include flex-center(space-between);
  color: $color-primary;
  &__location {
    h2 {
      line-height: $line-height;
    }
    p {
      font-size: $fs-m;
      line-height: $line-height;
    }
  }
  &__collapse {
    @include flex-center(space-between);
    margin-bottom: 2rem;
    min-height: 16rem;
    gap: 4.75rem;
  }
}

@media (max-width: $bp-sm) {
  .housing {
    @include flex-column();
    &__location {
      p {
        font-size: 14px;
        margin-top: 0.31rem;
      }
    }
    &__collapse {
      display: block;
    }
  }
}
