.notFound {
  color: $color-primary;
  margin: 10rem auto;
  @include flex-column(center, center);
  &__title {
    font-size: $fs-xxxl;
    font-weight: 700;
    margin-bottom: 4.12rem;
  }
  &__subtitle {
    margin-bottom: 11.37rem;
  }
  &__link {
    text-decoration: underline;
    font-size: $fs-m;
  }
}
@media (max-width: $bp-sm) {
  .notFound {
    &__title {
      font-size: 6rem;
    }
    &__subtitle {
      span {
        display: block;
      }
    }
    &__link {
      font-size: 14px;
    }
  }
}
