@mixin flex-center($justify-content: center, $align-items: null) {
  display: flex;
  justify-content: $justify-content;
  @if $align-items != null {
    align-items: $align-items;
  }
}

@mixin flex-column($justify-content: center, $align-items: null) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  @if $align-items != null {
    align-items: $align-items;
  }
}
