$font-family-primary: 'Montserrat', sans-serif;


$color-primary: #FF6060;
$color-secondary: #FFFFFF;
$bg-color-footer: #000000;

$fs-sm: 12px;
$fs-m: 16px;
$fs-lg: 20px;

$max-width: 1240px;

$bp-sm: 768px;

