.header {
  height: 4.25rem;
  @include flex-center(space-between, center);
  &__nav {
    color: $color-primary;
    &--active {
      border-bottom: 1px solid;
    }
    ul {
      display: flex;
      li {
        margin-left: 3.43rem;
        font-size: $fs-lg;
      }
    }
  }
}

@media (max-width: $bp-sm) {
  .header {
    height: 47px;
    img {
      width: 145px;
    }
    ul {
      text-transform: uppercase;
      li {
        margin-left: 0.62rem;
        white-space: nowrap;
        font-size: $fs-sm;
      }
    }
  }
}
