* {
  box-sizing: border-box;
}

body,
button {
  font-family: $font-family-primary;
  font-weight: 500;
}


.container {
  max-width: $max-width;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2.5rem 6.25rem 0;
}

@media (max-width: $bp-sm) {
  h1 {
    font-size: $fs-lg;
  }
  h2 {
    font-size: $fs-m;
  }
  .container {
    padding: 1.25rem;
  }
}
